.document-container {
  // background: #f5f5f5;
  padding-top: 40px;

  .input {
    background: #fff;
    border: none;
    border-left: 3px solid #e0e0e0;
    border-radius: 3px;
    display: flex;
    font-size: 16px;
    font-family: monospace;
    margin-left: 45px;
    height: 80vh;
    outline: none;
    overflow-y: inherit;
    padding: 5px 30px;
    resize: none;
    width: 820px;
  }
}
