.document-container {
  background: #f5f5f5;
  // max-height: 100vh;
  padding-top: 40px;
  // padding: 20px;
  // width: 100%;

  textarea {
    // background: transparent;
    border: 3px solid #ececec;
    border-radius: 3px;
    display: flex;
    font-size: 16px;
    // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-family: monospace;
    margin: auto;
    height: 500px;
    outline: none;
    overflow-y: inherit;
    padding: 40px 50px;
    resize: none;
    width: 820px;
  }
}
