.side-menu {
  background: #0a0a0a;
  height: auto;
  min-width: 270px;
  // padding: 0 10px;

  form {
    display: flex;
    height: 40px;
    place-items: center;

    .chapter-title-input {
      background: #252525;
      border: 1px solid #252525;
      border-radius: 3px;
      color: #fff;
      height: 30px;
      margin-left: 5px;
      outline: none;
      padding: 5px;
      width: 80%;
    }

    button {
      font-size: 20px;
      height: 30px;
      margin-left: 5px;
      width: 40px;
    }

    button:hover {
      cursor: pointer;
    }
  }
  .chapter-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .chapter-btn {
      background: #0a0a0a;
      border: none;
      color: #fff;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      height: 30px;
    }
    .chapter-btn:hover {
      background: #252525;
      cursor: pointer;
    }
  }
}
